*{
    margin:0 ;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Circe Regular';
}

.section1{
    width: 100vw;
    height: 100vh;
    background: url(../../Ngo/bgoverlay.jpg);
    background-size: cover;
    overflow: hidden;
}