:root {
    --primary: #2BAFAF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Circe Regular';
}

body{
    background-color: #FBFBFB;
}

.wave{
    position: fixed;
    bottom: -10px;
    width: 100vw;
    height: auto;
    object-fit: cover;
    // display: none;
    z-index: -1;
}