* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: 'Circe Regular';
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.card {
  color: white;
  background: #0f78e8;
  background-size: cover;
  margin-top: 20vh;
  margin-left: 2em;
  margin-bottom: 5em;
  padding: 10rem 0 0;
  width: 27ch;
  border-radius: 1em;
  overflow: hidden;

  transition: transform 500ms ease;
}

.card:hover {
  box-shadow: 0px 20px 36px -10px rgba(0, 0, 0, 0.25);
}

.card_content {
  --padding: 1.5rem;
  padding: var(--padding);
  // transform: translateY(65%);
  p {
    margin-top: 10px;
  }
}

.card_title {
  position: relative;
  width: max-content;
}

.card_title::after {
  content: ' ';
  position: absolute;
  height: 4px;
  left: calc((var(--padding)) * -1);
  bottom: 0;
  width: calc(100% + var(--padding));
  background: #fff;

  transform-origin: left;
  transform: scaleX(0);
  transition: transform 500ms ease;
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: black;
  background: #61d384;
  padding: 0.5em 1.25em;
  border-radius: 0.25em;
  margin-top: 10px;
  transition: all 2s ease-in;
}

.card_title::after {
  transform: scaleX(0);
}

.button:hover,
.button:focus {
  background: white;
}

@media (hover) {
  .card_content {
    transform: translateY(50%);
    transition: transform 500ms ease;
  }
  .card:hover .card_content,
  .card:focus-within .card_content {
    transform: translateY(-20%);
    transition-delay: 800ms;
  }

  .card:focus-within .card_content {
    transition-duration: 0ms;
  }

  .card_content > *:not(.card_title) {
    opacity: 0;
    transition: opacity 500ms ease;
  }

  .card:hover .card_content > *:not(.card_title),
  .card:focus-within .card_content > *:not(.card_title) {
    opacity: 1;
    transition-delay: 700ms;
  }

  .card:hover,
  .card:focus-within {
    transform: scale(1.05);
  }

  .card:hover .card_title::after,
  .card:focus-within .card_title::after {
    transform: scaleX(1);
  }
}
